@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Jura');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
COLORS:

Pink   E21B5A  226,27,90
Red    9E0C39  158,12,57
Grey   333333   51,51,51
Moon   FBFFE3  251,255,227
Green  83A300  131,163,0
*/

/*
  ========================================
  Custom styles
  ========================================
*/

body {
  color: #333;
  font-size: xx-large;
  font-family: EB Garamond, Georgia, Arial, sans-serif;
}

h2 {
  background: #333;
  color: #FBFFE3;
  display: inline-block;
  margin-left: 2%;
  padding: 1%;
  font-family: Jura, Georgia, Arial, sans-serif;
  font-size: 3rem;
}
/*
  ========================================
  Clearfix
  ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Navigation
  ========================================
*/

nav {
  float: right;
}

nav li {
  display: inline-block;
  margin: 1rem 2rem;
}

/*
  ========================================
  Header
  ========================================
*/
header {
  width: 100%;
  position: fixed;
  background: #333;
}
.title {
  float: left;
  margin-left: 10%;
  padding: 1% 0;
  font-family: Jura, Georgia, Arial, sans-serif;
  font-weight: bold;
  font-size: 5rem;
  color: #FBFFE3;
}

.top-navig {
  margin-top: 1%;
}

.top-navig a {
  text-decoration: none;
  font-family: Jura, Georgia, Arial, sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  color: #83A300;
}

.top-navig a:hover {
  color: #E21B5A;
}

.headerblock {
  height: 8rem;
}

/*
  ========================================
  About
  ========================================
*/

.about {
  margin-left: 5%;
}
.about-text {
  float: left;
  width: 60%;
  margin-top: 4%;
}

.about p {
  margin-top: 10%;
  font-size: 3rem;
}

.fulla {
  float: right;
  margin-top: 4%;
}

.fulla-daniel {
  height: 20rem;
  margin-right: 12rem;
}

.fulla figcaption {
  font-size: 1.2rem;
}

.fulla figcaption a {
  font-weight: bold;
  color: #9E0C39;
  text-decoration: none;
}

.fulla figcaption a:hover {
  color: #E21B5A;
}

/*
  ========================================
  Projects
  ========================================
*/

.projects {
  margin: 4% 2% 0 2%;
}

.projects section {
  display: inline-block;
  width: 49%;
  margin-top: 2%;
  padding: 2% 0;
}

.projects a {
  text-align: center;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.projects h4 {
  margin-top: 2%;
  font-size: 3rem;
}

.projects section:hover {
 
  background: #FBFFE3;
}

.projects section img {
  display: block;
  margin: 0 auto;
}

/*
  ========================================
  Contact
  ========================================
*/

.contact {
  margin: 4% 2% 4% 2%;
}

.contact a {
  margin: 4% 0 0 16%;
  text-align: center;
  color: #9E0C39;
  text-decoration: none;
  font-size: 3rem;
}

.contact a:hover {
  color: #E21B5A;
}

.contact a span {
  font-family: EB Garamond, Georgia, Arial, sans-serif;
  font-weight: bold;
}

/*
  ========================================
  Footer
  ========================================
*/

footer {
  background-color: #333;
  width: 100%;
}

.bottom-navig a {
  text-decoration: none;
  font-family: Jura, Georgia, Arial, sans-serif;
  font-size: 1.5rem;
  color: #FBFFE3;
}

.bottom-navig a:hover {
  color: #E21B5A;
}